* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    height:100vh;
    background-color: #daf0ff;
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17181a;
    border-radius: 20px;
    width: 350px;
    height: 500px;
    flex-direction: column;
}

#display {
    display: flex;
    width: 325px;
    border-radius: 10px;
    height: 100px;
    margin: 10px;
    background-color: rgb(68, 65, 65);
    justify-content: flex-end;
    flex-direction: column;
}

#sub-display-1 {
    display: flex;
    justify-content: flex-end;
}

.display-variables {
    align-self: center;
    font-size: 24px;
    margin: 2px;
}

#display-1 {
}

#display-x {

}

#display-2 {
    margin-right: 10px;
}

#sub-display-2 {
    display: flex;
    justify-content: flex-end;
}

#result {
    font-size: 48px;
    color: white;
}

#numbers-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 325px;
    height: 360px;
    border-radius: 10px;
}

.numbers {
    color: #41b7ee;
    font-size: 24px;
    background-color: #303136;
    margin: 5px;
    display: flex;
    width: 60px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border: 0;
    border-radius: 25%;
}

.numbers#equals {
    width: 130px;
    border-radius: 5%;
}


.numbers#auto-clear, #clear {
    background-color: #616161;
    color: whitesmoke;
    transition: 0.2s;
}

#auto-clear:hover, #clear:hover {
    background-color: #878787;
    margin-top: -5px;
}


.numbers#percentage, #division, #addition, #subtract, #multiple {
    background-color: #005db2;
    transition: 0.2s;
}

.numbers:hover, #percentage:hover, #division:hover, #addition:hover, #subtract:hover, #multiple:hover {
    background-color: #daf0ff;
    margin-top: -5px;
}
